<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{url_for('static',filename='js/find_id.js')}}" defer></script>
</head>
<body>
    <form id="find_user">
        <label>
            이름 : <input type="text" name="user_name">
        </label>
        <label>
            학교 : <input type="text" name="user_school">
        </label>
        <button type="submit">아이디 찾기</button>
    </form>
    <div id="show_data">

    </div>
</body>
</html>