<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        alert("아이디 또는 비밀번호가 틀렸습니다.")
    </script>
</head>
<body>
    <form method="post">
        <label>
            아이디 : <input type="text" name="id1"><br>
        </label>
        <label>
            비밀번호 : <input type="password" name="pw1">
        </label><br>
        <button type="submit">입력하기</button>
    </form>
</body>
</html>