<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{url_for('static',filename='js/one_board.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/success.css')}}">
</head>
<body>
    <div id="look_board">

    </div>
    <button type="button" id="update_btn">수정하기</button>
    <button type="button" id="delete_btn">삭제하기</button><br>
    <button type="button" id="return_main">메인페이지로 돌아가기</button>
</body>
</html>