<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><h1>USER</h1></p>
    <button type="button" id="my_profile">내 프로필</button>
    <button type="button" id="logout_btn">로그아웃</button>
    <button type="button" id="delete_user">탈퇴</button>
    <form id="search">
        <input type="text" name="search_txt" class="search_class" id="search_id" placeholder="다른 사용자의 ID를 입력하시오.">
        <button type='submit' id="search_btn" class="search_btn_class">검색하기</button>
        <button type="button" id="list" class="list_btn">전체 목록</button>
        <button type="button" id="profile" class="profile_btn">프로필 보기</button>
    </form>
</body>
</html>