<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{url_for('static',filename='js/sign_up.js')}}" defer></script> <!--static/js/sign_up.js 파일 속 스크립트를 불러온다 defer로 인해 document가 다 작성된 다음에 실행시킨다-->
</head>
<body>
    <form id="sign_up">
        <label>
            아이디 : <input type="text" name="new_id">
        </label><br>
        <label>
            비밀번호 : <input type="password" name="new_pw">
        </label><br>
        <button type="submit">입력하기</button>
    </form>
</body>
</html>