<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        alert("이미 존재하는 아이디입니다.")
    </script>
</head>
<body>
    <form method="post">
        <label>
            아이디 : <input type="text" name="new_id1">
        </label><br>
        <label>
            비밀번호 : <input type="password" name="new_pw1">
        </label><br>
        <button type="submit">입력하기</button>
    </form>
</body>
</html>