<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/success.css')}}">
    <script src="{{url_for('static',filename='js/success_login.js')}}" defer></script>
</head>
<body>
    <p><h1>게시판</h1></p><br>
    <form id="search">
        <button type="button" class="main_btn" id="search_btn">검색하기</button>
    </form>
    <form id="main">
        <p>
        </p>
        <p class="user_btn">
            <button type="button" id="logout_btn" class="main_btn">로그아웃</button> <!--버튼을 누르면 /login에 GET 요청을 보낸다.-->
            <button type="button" id="secession_btn" class="main_btn">탈퇴</button>
        </p>
        <input type="text" id="title" name="title" class="main_txt"><br>
        <textarea name="textarea" id="textarea" class="main_txt"></textarea>
        <p style="display:none" id="p1" class="p_style"></p>
        <p style="display:none" id="p" class="p_style"></p>
        <p class="data_btn">
            <button type="submit" id="save" class="main_btn">저장하기</button>
            <button type="reset" id="reset" class="main_btn">리셋하기</button>
            <button type="button" id="update" style="display:none" class="main_btn">수정하기</button>
            <button type="button" id="delete" style="display:none" class="main_btn">삭제하기</button>
        </p>
    </form>
</body>
</html>